<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <package android:name="com.amazon.dee.app" />
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.spotify.music" />
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application android:theme="@style/Theme.Jarvis" android:label="JARVIS" android:allowBackup="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="jarvis" android:host="assistant" />
            </intent-filter>
        </activity>
    </application>
</manifest>
